.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(192, 190, 204);
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 135, 147);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
    font-style: italic;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  p {
    font-size: 20px;
    color: #161515;
  }
  
  
  