body {
  font-family: Times, sans-serif;
}

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  background-image: url("C:\Users\Aukse\Desktop\Projects\OcutuneApp\src\assets\premium_photo-1681487942927-e1a2786e6036.avif"); /* Replace with the path to your image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3890d8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 280px;
  width: 70%;
  margin-left: 5%; 
}

.login-heading {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.page-heading {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.login-form label {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.login-form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.login-button {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #4e6295;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background-color: #c61c5c;
}

.login-error {
  font-size: 18px;
  color: #333333;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 1600px) {
  .login-container {
    position: absolute;
  }

  .login-form {
    margin-left: 1%; 
  }
}
